page-home {
.content {
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/15549a14589707.5628669c64769.png") no-repeat;
  background-size: cover;
}
  .sun-icon{
    font-size: 90px;
  }

  .title {
    font-size: 50px;
    letter-spacing: 4px;
    padding-top: 10px;
  }

  .value {
    font-size: 40px;
    line-height: 120px;
    letter-spacing: 4px;
  }
  .container{
    text-align: center;
    padding-top: 60px;
    color: white;
    position: relative;
  }
  .item{
    background: transparent;
  }
}